
				<div class="panel panel-flat">
					<div class="panel-heading">
						<h1 class="panel-title">New Staff</h1>
                            <div class="heading-elements">
								<ul class="icons-list">
						            <li><a data-action="collapse"></a></li>
						            <li><a data-action="reload"></a></li>
						        </ul>
					        </div>
					</div>
                    <div class="panel-body">
                        <%= form_for(@staff, url: resign_path) do |f| %>
  <% if @staff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@staff.errors.count, "error") %> prohibited this staff from being saved:</h2>

      <ul>
      <% @staff.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
    <%= f.label :user %><br>
    <%= f.text_field :user, class:"form-control", placeholder:"Nhap ten tai khoan" %>
  </div>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, class:"form-control", placeholder:"Nhap dia chi email Nhan Vien" %>
  </div>
  
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password, class:"form-control", placeholder:"Nhap mat khau" %>
  </div>
  
  <div class="field">
    <%= f.label :password_confirmation, "Password Confirmation" %><br>
    <%= f.password_field :password_confirmation, class:"form-control", placeholder:"Nhap lai mat khau" %>
  </div>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class:"form-control", placeholder:"Nhap ten Nhan Vien" %>
  </div>
  <div class="field">
    <%= f.label :birthday %><br>
    <%= f.date_select :birthday %>
    <!--<input class="form-control" type="date" >-->
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.text_field :gender %>
     <!--
    <label class="radio-inline">
			<input type="radio" class="styled" name="gender" checked="checked">
					Male
			</label>

			<label class="radio-inline">
			<input type="radio" class="styled" name="gender">
				Female
			</label>-->
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone, class:"form-control", placeholder:"Nhap so dien thoai Nhan Vien"%>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address, class:"form-control", placeholder:"Nhap dia chi Nhan Vien" %>
  </div>
  <div class="actions text-right">
    <%= f.submit nil, :class => 'btn btn-primary'%>
  </div>
<% end %>

                        <div class="text-right">
                            <%= link_to 'Back', staffs_path %>
                        </div>
                    </div>
                </div>
            </div>