<% provide(:title, "Them nhan vien")%>
<div class="content">
	<% flash.each do |message_type, message| %>
					<div class="alert alert-<%= message_type %>"><%= message %></div>
				<% end %>
				<div class="panel panel-flat">
					<div class="panel-heading">
						<h1 class="panel-title"><%= t('.newstaff') %></h1>
					</div>
                    <div class="panel-body">
                        <%= form_for(@staff, url: resign_path) do |f| %>
  <% if @staff.errors.any? %>
    <div class="error_explanation">
      <ul>
      <% @staff.errors.full_messages.each do |message| %>
        <div class="alert alert-warning alert-bordered">
          <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
          <span class="text-semibold">Warning! </span><%= message %>
        </div>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <legend class="text-semibold"><h5><%= t('.titleaccount')%></h5></legend>
	<div class="field required">
    <%= f.label :user, t('.user') %><br>
    <%= f.text_field :user, class:"form-control", placeholder:"Nhap ten tai khoan" %>
  </div>
	<div class="field required">
    <%= f.label :email, t('.email') %><br>
    <%= f.text_field :email, class:"form-control", placeholder:"eugene@kopyov.com" %>
		<span class="help-block">Accepted formats: example@gmail.com</span>
  </div>
	<div class="field required">
    <%= f.label :password, t('.password') %><br>
    <%= f.password_field :password, class:"form-control", placeholder:"Your strong password" %>
  </div>
  <div class="field required">
    <%= f.label :password_confirmation, t('.passwordconfirmation') %><br>
    <%= f.password_field :password_confirmation, class:"form-control", placeholder:"Repeat password"%>
  </div>
	
	<legend class="text-semibold"><h5><%= t('.titlepersonal')%></h5></legend>
  <div class="field">
    <%= f.label :name, t('.name') %><br>
    <%= f.text_field :name, class:"form-control", placeholder:"Nhap ten Nhan Vien" %>
  </div>
 <div class="field">
    <%= f.label :birthday, t('.birthday') %><br>
    <%= f.text_field :birthday, class:"form-control", id:"anytime-month-numeric", placeholder:"dd/mm/yyyy"%>
  </div>
  <div class="field">
    <%= f.label :gender, t('.gender'), class:"display-block" %><br>
		<%= f.label :gender_male,  t('.male'), class:"radio-inline" %>
    <%= f.radio_button :gender, 'Nam', class:"styled", :checked => true%>
    <%= f.label :gender_female,  t('.female'), class:"radio-inline" %>
    <%= f.radio_button :gender, 'Nữ', class:"styled" %><br />
  </div>
  <div class="field">
    <%= f.label :phone, t('.phone') %><br>
    <%= f.text_field :phone, :maxlength => 12, class:"form-control", placeholder:"+99-99-9999-9999", onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' %>
  </div>
  <div class="field">
    <%= f.label :address, t('.address') %><br>
    <%= f.text_area :address, class:"form-control", placeholder:"Ring street 12" %>
  </div>
  <div class="actions text-right">
    <%= f.submit nil, :class => 'btn btn-primary'%>
		 <%= link_to t('.back'), root_path, class:"btn btn-primary" %>
  </div>
<% end %>
                    </div>
                </div>
            </div>
</div>
<%= javascript_include_tag 'uniform.min.js' %>
<%= javascript_include_tag 'form_layouts.js' %>
<%= javascript_include_tag 'select2.min.js' %>

<%= javascript_include_tag 'picker_date_authors.js' %>
<%= javascript_include_tag 'datepicker_authors.min.js' %>
<%= javascript_include_tag 'effects_authors.min.js' %>
<%= javascript_include_tag 'jgrowl_authors.min.js' %>
<%= javascript_include_tag 'moment_authors.min.js' %>
<%= javascript_include_tag 'daterangepicker_authors.js' %>
<%= javascript_include_tag 'anytime_authors.min.js' %>
<%= javascript_include_tag 'picker_authors.js' %>
<%= javascript_include_tag 'picker.date_authors.js' %>
<%= javascript_include_tag 'picker.time_authors.js' %>
<%= javascript_include_tag 'legacy_authors.js' %>