<%= form_for(@author) do |f| %>
  <% if @author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
      <% @author.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class:"form-control", placeholder:"Nhap ten Tac Gia" %>
  </div>
  <div class="field">
    <%= f.label :birthday %><br>
    <%= f.date_select :birthday, class:"form-control", name:"date" %>
    <!--<input class="form-control" type="date" >-->
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, rows:"5", cols:"5", class:"form-control", placeholder:"Nhap tieu su Tac gia" %>
  </div>
  <div class="field">
    <%= f.label :homeland %><br>
    <%= f.text_field :homeland, class:"form-control", placeholder:"Nhap Que Quan Tac gia" %>
  </div>
  <div class="actions text-right">
    <%= f.submit nil, :class => 'btn btn-primary'%>
    <%= link_to 'Back', authors_path, class:'btn btn-primary' %>
  </div>
<% end %>
