<% provide(:title, "Them tac gia")%>
<% content_for :admin do %>
<%= render 'admin/shared/nav'%>
<div class="page-container">
    <div class="page-content">
        <div class="sidebar sidebar-main">
            <%= render 'admin/shared/sidebar'%>
        </div>
        <div class="content-wrapper">
			<div class="page-header">
                <div class="page-header-content">
                    <div class="page-title">
                        <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">New Author</span></h4>
                    </div>
                </div>
                <div class="breadcrumb-line">
						<ul class="breadcrumb">
							<li>
                                <%= link_to "<i class='icon-home2 position-left'></i> <span>Dashboard</span>".html_safe, root_path %>
                            </li>
							<li><%= link_to "<span>Dang sach</span>".html_safe, authors_path %></li>
							<li><%= link_to "Listing Authors" , authors_path %></li>
							<li class="active"><%= link_to "New Author" , new_author_path %></li>
						</ul>
					</div>
            </div>
<div class="content">
				<div class="panel panel-flat">
					<div class="panel-heading">
						<h1 class="panel-title">New Author</h1>
                            <div class="heading-elements">
								<ul class="icons-list">
						            <li><a data-action="collapse"></a></li>
						            <li><a data-action="reload"></a></li>
						        </ul>
					        </div>
					</div>
                    <div class="panel-body">
                        <%= render 'form' %>
                    </div>
                </div>
            </div>
</div>
    </div>
</div>
<%= javascript_include_tag 'uniform.min.js' %>
<%= javascript_include_tag 'form_layouts.js' %>
<%= javascript_include_tag 'select2.min.js' %>
<% end %>