<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class:"form-control", placeholder:"Nhap ten Khach Hang" %>
  </div>
  <div class="field">
    <%= f.label :birthday %><br>
    <%= f.date_select :birthday , class:"form-control", name:"date" %>
    <!--<input class="form-control" type="date" >-->
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.text_field :gender %>
     <!--
    <label class="radio-inline">
			<input type="radio" class="styled" name="gender" checked="checked">
					Male
			</label>

			<label class="radio-inline">
			<input type="radio" class="styled" name="gender">
				Female
			</label>-->
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone , class:"form-control", placeholder:"Nhap so dien thoai Khach Hang"%>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address , class:"form-control", placeholder:"Nhap Dia chi Khach Hang"%>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email , class:"form-control", placeholder:"Nhap dia chi emal Khach Hang"%>
  </div>
  <div class="actions text-right">
    <%= f.submit nil, :class => 'btn btn-primary'%>
		<%= link_to 'Back', customers_path, class:"btn btn-primary" %>
  </div>
<% end %>
