<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div class="error_explanation">
      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <div class="alert alert-warning alert-bordered">
          <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
          <span class="text-semibold">Warning! </span><%= message %>
        </div>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field required">
    <%= f.label :name, t('.name') %><br>
    <%= f.text_field :name, class:"form-control", placeholder:"Nhap ten Khach Hang" %>
  </div>
  <div class="field required">
    <%= f.label :birthday, t('.birthday') %><br>
    <%= f.text_field :birthday, class:"form-control", id:"anytime-month-numeric", placeholder:"dd/mm/yyyy"%>
  </div>
  <div class="field">
    <%= f.label :gender, t('.gender'), class:"display-block" %><br>
		<%= f.label :gender_male, t('.male'), class:"radio-inline" %>
    <%= f.radio_button :gender, 'Nam', class:"styled", :checked => true%>
    <%= f.label :gender_female, t('.female'), class:"radio-inline" %>
    <%= f.radio_button :gender, 'Nữ', class:"styled" %><br />
  </div>
  <div class="field required">
    <%= f.label :phone, t('.phone') %><br>
    <%= f.text_field :phone, :maxlength => 12 , class:"form-control", placeholder:"+99-99-9999-9999", onkeypress: 'return event.charCode >= 48 && event.charCode <= 57'%>
  </div>
  <div class="field required">
    <%= f.label :address, t('.address') %><br>
    <%= f.text_area :address , class:"form-control", placeholder:"Ring street 12"%>
  </div>
  <div class="field required">
    <%= f.label :email, t('.email')  %><br>
    <%= f.text_field :email, class:"form-control", placeholder:"eugene@kopyov.com"%>
		<span class="help-block">Accepted formats: example@gmail.com</span>
  </div>
  <div class="actions text-right">
    <%= f.submit nil, :class => 'btn btn-primary'%>
		<%= link_to t('.back'), customers_path, class:"btn btn-primary" %>
  </div>
<% end %>
