<% provide(:title, "Danh sach thong tin khach hang")%>
<% content_for :admin do %>
<%= render 'admin/shared/nav'%>
<div class="page-container">
    <div class="page-content">
        <div class="sidebar sidebar-main">
            <%= render 'admin/shared/sidebar'%>
        </div>
        <div class="content-wrapper">
            <div class="page-header">
                <div class="page-header-content">
                    <div class="page-title">
                        <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Listing Customers</span></h4>
                    </div>
                </div>
                <div class="breadcrumb-line">
						<ul class="breadcrumb">
							<li>
                                <%= link_to "<i class='icon-home2 position-left'></i> <span>Dashboard</span>".html_safe, root_path %>
                            </li>
							<li><%= link_to "<span>Dang sach</span>".html_safe, customers_path %></li>
							<li class="active"><%= link_to "Listing Customers" , customers_path %></li>
						</ul>
					</div>
            </div>
<div class="content">
<!-- Basic datatable -->
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h1 class="panel-title">Listing Customers</h1>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li class="custombutton"><%= link_to 'New Customer', new_customer_path, class:"btn btn-primary" %></li>
                    <li><a data-action="collapse"></a></li>
                    <li><a data-action="reload"></a></li>
                </ul>
            </div>
        </div>

        

        <table class="table datatable-basic">
            <thead>
                <tr>
                     <th>Name</th>
                    <th>Birthday</th>
                    <th>Gender</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <% @customers.each do |customer| %>
                    <tr>
                      <td><%= customer.name %></td>
                    <td><%= customer.birthday %></td>
                    <td><%= customer.gender %></td>
                    <td><%= customer.phone %></td>
                    <td><%= customer.address %></td>
                    <td><%= customer.email %></td>
                      <td class="text-center">
                            <ul class="icons-list">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="icon-menu9"></i>
                                    </a>

                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><%= link_to 'Show', customer %></li>
                                        <li><%= link_to 'Edit',  edit_customer_path(customer) %></li>
                                        <li><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                                    </ul>
                                </li>
                            </ul>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
    <!-- /basic datatable -->
</div>
        </div>
    </div>
</div>
<%= javascript_include_tag 'datatables.min.js' %>
<%= javascript_include_tag 'datatables_basic_customers.js' %>
<%= javascript_include_tag 'select2.min.js' %>
<%= javascript_include_tag 'bootbox.min.js' %>
<%= javascript_include_tag 'sweet_alert.min.js' %>
<%= javascript_include_tag 'components_modals.js' %>
<% end %>