<% provide(:title, t('.showcustomer'))%>
<%= render 'admin/shared/nav'%>
<div class="page-container">
    <div class="page-content">
        <div class="sidebar sidebar-main">
            <%= render 'admin/shared/sidebar'%>
        </div>
        <div class="content-wrapper">
						<div class="page-header">
                <div class="page-header-content">
                    <div class="page-title">
                        <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold"><%= t('.showcustomer')%></span></h4>
                    </div>
                </div>
                <div class="breadcrumb-line">
						<ul class="breadcrumb">
							<li>
                                <%= link_to "<i class='icon-home2 position-left'></i>".html_safe + t('.dashboard'), admin_path %>
                            </li>
							<li><%= link_to t('.infomation'), customers_path %></li>
							<li><%= link_to t('.listcustomer') , customers_path %></li>
							<li><%= t('.showcustomer')%></li>
						</ul>
					</div>
            </div>
<div class="content">
	<% flash.each do |message_type, message| %>
					<div class="alert alert-<%= message_type %>"><%= message %></div>
				<% end %>
				<div class="panel panel-flat">
					<div class="panel-heading">
						<h1 class="panel-title"><%= t('.showcustomer')%></h1>
					</div>
                    <div class="panel-body">
                                                
                        <p>
                          <strong><%= t('.name')%></strong>
                          <%= @customer.name %>
                        </p>
                        
                        <p>
                          <strong><%= t('.birthday')%></strong>
                          <%= @customer.birthday %>
                        </p>
                        
                        <p>
                          <strong><%= t('.gender')%></strong>
                          <%= @customer.gender %>
                        </p>
                        
                        <p>
                          <strong>Phone:</strong>
                          <%= @customer.phone %>
                        </p>
                        
                        <p>
                          <strong><%= t('.address')%></strong>
                          <%= @customer.address %>
                        </p>
                        
                        <p>
                          <strong><%= t('.email')%></strong>
                          <%= @customer.email %>
                        </p>
                        <div class="text-right">
                            <%= link_to t('.edit'), edit_customer_path(@customer), class:"btn btn-primary"  %>
                            <%= link_to t('.back'), customers_path, class:"btn btn-primary"  %>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </div>
</div>
<%= javascript_include_tag 'uniform.min.js' %>
<%= javascript_include_tag 'form_layouts.js' %>
<%= javascript_include_tag 'select2.min.js' %>