<%= form_for(@manufacturer) do |f| %>
  <% if @manufacturer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@manufacturer.errors.count, "error") %> prohibited this manufacturer from being saved:</h2>

      <ul>
      <% @manufacturer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class:"form-control", placeholder:"Nhap ten Nha San Xuat" %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address, class:"form-control", placeholder:"Nhap Dia Chi Nha San Xuat" %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone, class:"form-control", placeholder:"Nhap So dien Thoai Nha San Xuat" %>
  </div>
  <div class="field">
    <%= f.label :fax %><br>
    <%= f.text_field :fax, class:"form-control", placeholder:"Nhap So fax Nha San Xuat" %>
  </div>
  <div class="actions text-right">
    <%= f.submit nil, :class => 'btn btn-primary'%>
    <%= link_to 'Back', manufacturers_path, class:"btn btn-primary" %>
  </div>
<% end %>
