
	<!-- Main navbar -->
	<div class="navbar navbar-inverse">
		<div class="navbar-header">
			<%= link_to image_tag("logo_light.png", alt: "logo"), root_path , class:"navbar-brand"%>
			

			<ul class="nav navbar-nav pull-right visible-xs-block">
				<li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
				<li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
			</ul>
		</div>

		<div class="navbar-collapse collapse" id="navbar-mobile">
			<ul class="nav navbar-nav">
				<li>
					<a class="sidebar-control sidebar-main-toggle hidden-xs">
						<i class="icon-paragraph-justify3"></i>
					</a>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown language-switch">
					<%= link_to image_tag("gb.png", alt: "logo", class: "position-left") + 'English<span class="caret"></span>'.html_safe, root_path , class:"dropdown-toggle", data: {toggle: "dropdown"}%>					<ul class="dropdown-menu">
						<li><%= link_to image_tag("gb.png", alt: "logo") + 'English'.html_safe, root_path , class:"english"%></li>
						<li><%= link_to image_tag("vn.png", alt: "logo") + 'VietNam'.html_safe, root_path , class:"vietnam"%></li>
					</ul>
				</li>
				<li class="dropdown dropdown-user">
						<%= link_to image_tag("placeholder.jpg", alt: "logo")+"<span>Victoria</span><i class='caret'></i>".html_safe, root_path, class: "dropdown-toggle", data: {toggle: "dropdown"} %>
					<ul class="dropdown-menu dropdown-menu-right">
						<li><a href="#"><i class="icon-user-plus"></i> My profile</a></li>
						<li><a href="#"><i class="icon-coins"></i> My balance</a></li>
						<li><a href="#"><span class="badge badge-warning pull-right">58</span> <i class="icon-comment-discussion"></i> Messages</a></li>
						<li class="divider"></li>
						<li><a href="#"><i class="icon-cog5"></i> Account settings</a></li>
						<li><%= link_to 'Log out', logout_path, method: "delete" %></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<!-- /main navbar -->