<%= form_for(@manufacturer) do |f| %>
  <% if @manufacturer.errors.any? %>
    <div class="error_explanation">
      <ul>
      <% @manufacturer.errors.full_messages.each do |message| %>
        <div class="alert alert-warning alert-bordered">
          <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
          <span class="text-semibold">Warning! </span><%= message %>
        </div>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field required">
    <%= f.label :name, t('.name') %><br>
    <%= f.text_field :name, class:"form-control", placeholder:"Nhap ten Nha San Xuat" %>
  </div>
  <div class="field required">
    <%= f.label :address, t('.address') %><br>
    <%= f.text_area :address, class:"form-control", placeholder:"Ring street 12" %>
  </div>
  <div class="field required">
    <%= f.label :phone, t('.phone') %><br>
    <%= f.text_field :phone, :maxlength => 12, class:"form-control", placeholder:"+99-99-9999-9999", onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' %>
  </div>
  <div class="field required">
    <%= f.label :fax, t('.fax') %><br>
    <%= f.text_field :fax, :maxlength => 12, class:"form-control", placeholder:"+99-99-9999-9999", onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' %>
  </div>
  <div class="actions text-right">
    <%= f.submit nil, :class => 'btn btn-primary'%>
    <%= link_to t('.back'), manufacturers_path, class:"btn btn-primary" %>
  </div>
<% end %>
