<% provide(:title, "Danh sach nha san xuat")%>
<%= render 'admin/shared/nav'%>
<div class="page-container">
    <div class="page-content">
        <div class="sidebar sidebar-main">
            <%= render 'admin/shared/sidebar'%>
        </div>
        <div class="content-wrapper">
            <div class="page-header">
                <div class="page-header-content">
                    <div class="page-title">
                        <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Listing Manufacturers</span></h4>
                    </div>
                </div>
                <div class="breadcrumb-line">
						<ul class="breadcrumb">
							<li>
                                <%= link_to "<i class='icon-home2 position-left'></i> <span>Dashboard</span>".html_safe, admin_path %>
                            </li>
							<li><%= link_to "<span>Dang sach</span>".html_safe, manufacturers_path %></li>
							<li>Listing Manufacturers</li>
						</ul>
					</div>
            </div>
<div class="content">
	<% flash.each do |message_type, message| %>
					<div class="alert alert-<%= message_type %>"><%= message %></div>
				<% end %>
<!-- Basic datatable -->
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h1 class="panel-title">Listing Manufacturers</h1>
            <div class="heading-elements">
                <ul class="icons-list">
					<% if current_staff.admin %>
						<li class="custombutton"><%= link_to 'New Manufacturer', new_manufacturer_path, class:"btn btn-primary" %></li>
					<% else %>
					<% end %>
                </ul>
            </div>
        </div>

        

        <table class="table datatable-basic">
            <thead>
                <tr>
                     <th>Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Fax</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                  <% @manufacturers.each do |manufacturer| %>
                    <tr>
						<% if current_staff.admin %>
							<td><%= link_to manufacturer.name, edit_manufacturer_path(manufacturer) %></td>
						<% else %>
							<td><%= manufacturer.name %></td>
						<% end %>
                        <td><%= manufacturer.address %></td>
                        <td><%= manufacturer.phone %></td>
                        <td><%= manufacturer.fax %></td>
                      <td class="text-center">
						<% if current_staff.admin %>
							<ul class="icons-list">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="icon-menu9"></i>
                                    </a>

                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><%= link_to 'Show', manufacturer %></li>
                                        <li><%= link_to 'Edit', edit_manufacturer_path(manufacturer) %></li>
                                        <li><%= link_to 'Destroy', manufacturer, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                                    </ul>
                                </li>
                            </ul>
						<% else %>
						<% end %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
    <!-- /basic datatable -->
</div>
        </div>
    </div>
</div>
<%= javascript_include_tag 'datatables.min.js' %>
<%= javascript_include_tag 'datatables_basic_manufacturers.js' %>
<%= javascript_include_tag 'select2.min.js' %>
<%= javascript_include_tag 'bootbox.min.js' %>
<%= javascript_include_tag 'sweet_alert.min.js' %>
<%= javascript_include_tag 'components_modals.js' %>